{% extends 'base.html' %}
{% block title %}My  Blog {% endblock %}
   {% block content %}

            {% for post in posts %}
                <h2>
                  <a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
                </h2>
                <p class="date">
                  Published {{ post.publish }} by {{ post.author }}
                </p>
                {{ post.body|truncatewords:30|linebreaks }}
              {% endfor %}
       <button type="button" class="pagination"> {% include "pagination.html" with page=posts %}</button>
{% endblock %}